html, body, .toolbar .title, .jstree-brackets li a, .jstree-brackets li a:hover, .toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
    font-size: 90%;
    line-height: 15px;
}

